
    <% for (var i=0; i < _articles.length; i++ ) { %>
        <section>
        <% if(_articles[i].hasTitle) {%>
            <hr/>
            <header>
                <h2>
                    <%= _articles[i].article_header %>
                </h2>
            </header>
        <% } %>
        <% if(_articles[i].hasSubtitle) {%>
            <h3>
                <%= _articles[i].subtitle %>
            </h3>
        <% } %>
        <%if (_articles[i].article_leading_content) { %>
            <div>
                <p class="descr">
                    <%- _articles[i].article_leading_content %>
                </p>
            </div>
        <% } %>
            <article class="user_article">
            <% if(_articles[i].hasFigure) {%>
                    <%- include('gridview', {data: _articles[i].article_figures, isCard: false}); -%>
            <% } %>
            <% if(_articles[i].hasVideo) {%>
                <%- include('video_player', {video_src: _articles[i].vidsrc, vid_height: 500, vid_width: (500*1.78), ismp4: _articles[i].ismp4}); -%>
            <% } %>
            <% if(_articles[i].isContentList) { %>
                <div>
                    <% if(_articles[i].isNumberedList) { %>
                    <ol>
                    <% } else { %>
                    <ul>
                    <% } %>
                    <% for (var j=0; j < _articles[i].article_content.length; j++ ) { %>
                        <% if(_articles[i].article_content[j].isColorPalette) {%>
                            <%- include('color_palette', {colors: _articles[i].article_content[j].colors}) %>
                        <% } else { %>
                            <li>
                                <p>
                                    <%- _articles[i].article_content[j] %>
                                </p>
                            </li>
                        <% } %>    
                    <% } %>
                    <% if(_articles[i].isNumberedList) { %>
                    <ol>
                    <% } else { %>
                    <ul>
                    <% } %>
                </div>
            <% } else if (_articles[i].article_content) { %>
                <div>
                    <p>
                        <%- _articles[i].article_content %>
                    </p>
                </div>
            <% } %>
            <% if (_articles[i].hasLink) { %>
                <div class="article_link">
                    <a href="<%= _articles[i].article_link %>"><%= _articles[i].article_link_text %></a>
                </div>
            <% } %>
            </article>
            <% if(_articles[i].hasMoreImages) { %>
                <%- include('gridview', {data: _articles[i].extraImages, isCard: false}); -%>
            <% } %>
        </section>
    <% } %>