<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head'); -%>
</head>

<body class= "contact_page">
    <header>
        <%- include('partials/navbar'); -%>
    </header>
    <main>
    <div class="contact-test clipper">
        <div class="contact-test-inner">
            <h1>
                <%= title %>
            </h1>
            <% if(isform) { %>
            <%- include('partials/form', {data: data, subtitle: subtitle}) -%>
            <% } else { %>
            <%- include('partials/contact', {data: data, subtitle: subtitle}) -%>   
            <% } %>
        </div>
    </div>
    </main>
    <footer>
      <%- include('partials/footer'); -%>
    </footer>
</body>

</html>