<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); -%>
  <script src="/javascripts/animations.js" type="module" defer></script>
</head>

<body>
  <header>
    <%- include('partials/navbar'); -%>
  </header>
  <main>
    <section id="welcome">
      <h1>
        Welcome to <%= title %>
      </h1>
      <p>Ready for a tour of creativity ?
      </p>
    </section>
    <%- include('partials/hero_video', {video_src: vidsrc, vid_height: 500, vid_width: (500*1.78), ismp4: ismp4}); -%>
  </main>
  <footer>
    <%- include('partials/footer'); -%>
  </footer>
</body>

</html>