<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head'); -%>
</head>

<body>
    <header>
        <%- include('partials/navbar'); -%>
    </header>
    <div class="hero-image">
    </div>
    <main>
        <h1>
            <%= title %>
        </h1>
        <div>
            <p>
                <%- data.content %>
            </p>
            <hr>
            <h2 class="item_title">Soft Skills</h2>
            <p>
                <%- data.softskills_text %>
            </p>
            <ul class="softskills">
                <% data.softskills.forEach(function(item) { %>
                    <li>
                        <%= item %>
                    </li>
                    <% }); %>
            </ul>
            <hr>
            <h2 class="item_title">Hard Skills</h2>
            <p>
                <%- data.hardskills_text %>
            </p>
            <ul class="hardskills">
                <% data.hardskills.forEach(function(item) { %>
                    <li>
                        <%- item -%>
                    </li>
                    <% }); %>
            </ul>
        </div>
    </main>
    <footer>
        <%- include('partials/footer'); -%>
    </footer>
</body>

</html>