<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); -%>
</head>

<body>
  <header>
    <%- include('partials/navbar'); -%>
  </header>
    <div id="wl-img" class="welcome-image welcome-image-dk">
    </div>
  <main>
    <section id="welcome">
    <h1 style="font-family:sans-serif;">
      
      <span
        class="typer welcome-text"
        id="some-id"
        data-words="Hi, I <%= title %>, I’m passionate about Graphic and Motion Designs, I enjoy creating and editing 3D objects,  I like animation and video production, Explore my work and feel free reach out to me for impactful design collaboration"
        data-colors="#9c7d2f"
        data-delay="100"
        data-delete-delay="1400"
        data-loop="1">
      </span>
    </h1>

    </section>
    <!--<%- include('partials/hero_video', {video_src: vidsrc, vid_height: 500, vid_width: (500*1.78), ismp4: ismp4}); -%>-->
  </main>
  <footer>
    <%- include('partials/footer'); -%>
  </footer>
</body>

</html>