<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head'); -%>
</head>

<body>
    <header>
      <%- include('partials/navbar'); -%>
    </header>
    <main>
      <h1>
        <%= title %>
      </h1>
      <%- include('partials/hero_video', {video_src: vidsrc, vid_height: 500, vid_width: (500*1.78), ismp4: ismp4}); -%>
      <section class="tools-section">
        <h2>TOOLS USED</h2>
        <div class="tools">
          <%- include('partials/tools', {tools: tools}); -%>
        </div>
      </section>
      <hr/>
      <p class="descr"><%- description %></p> 
      <%- include('partials/portfolio_article', {_articles: articles}); -%>
    </main>
    <% if(hasLink) { %>
      <p><a class="link" href="<%= creditSrc %>"><%= linkName%></a></p>
    <% } %>
    <footer>
      <%- include('partials/footer'); -%>
    </footer>
  </body>

</html>