<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head'); -%>
</head>

<body>
    <header>
        <%- include('partials/navbar'); -%>
    </header>
    <main>
        <h1>
            <%= title %>
        </h1>
        <p class="subtitle">Explore my projects! <span><a href="#">More here</a></span></p>
        
        <%- include('partials/gridview', {isCard: true}); -%>
    </main>
    
  <footer>
    <%- include('partials/footer'); -%>
  </footer>
</body>

</html>