<form class="user_form" action="">
    <p><%=subtitle%></p>
    <% for (var i = 0; i < data.length; i++ ) { %>
    <div class="field-group">
        <% if(data[i].type != "submit") {%>
            <label for="<%=data[i].name%> required"><%=data[i].label%></label>
            <% if(data[i].type == "textarea") {%>
                <textarea name="<%=data[i].name%>" id="<%=data[i].name%>" placeholder="<%=data[i].placeholder%>" cols="30" rows="10"></textarea>
            <%} else {%>
                <input type="<%=data[i].type%>" name="<%=data[i].name%>" id="<%=data[i].name%>" placeholder="<%=data[i].placeholder%>" value="<%=data[i].value%>">
            <%}%>
        <%} else {%>
            <input type="<%=data[i].type%>" name="<%=data[i].name%>" id="<%=data[i].name%>" placeholder="<%=data[i].placeholder%>" value="<%=data[i].value%>">
        <%}%>
    </div>
    <% } %>
</form>