<% for (var i=0; i < pfarticles.length; i++ ) { %>
    <section>
        <% if(pfarticles[i].hasTitle) {%>
            <hr />
            <header>
                <h2>
                    <%= pfarticles[i].article_header %>
                </h2>
            </header>
            <% } %>
                <% if(pfarticles[i].hasSubtitle) {%>
                    <h3>
                        <%= pfarticles[i].subtitle %>
                    </h3>
                    <% } %>
                        <%if (pfarticles[i].article_leading_content) { %>
                            <div>
                                <p class="descr">
                                    <%- pfarticles[i].article_leading_content %>
                                </p>
                            </div>
                            <% } %>
                                <article class="user_article">
                                    <% if(pfarticles[i].hasFigure) {%>
                                        <%- include('gridview', {data: pfarticles[i].article_figures, isCard: false});
                                            -%>
                                            <% } %>
                                                <% if(pfarticles[i].hasVideo) {%>
                                                    <%- include('video_player', {video_src: pfarticles[i].vidsrc,
                                                        vid_height: 500, vid_width: (500*1.78), ismp4:
                                                        pfarticles[i].ismp4}); -%>
                                                        <% } %>
                                                            <% if(pfarticles[i].isContentList) { %>
                                                                <div>
                                                                    <% if(pfarticles[i].isNumberedList) { %>
                                                                        <ol>
                                                                            <% } else { %>
                                                                                <ul>
                                                                                    <% } %>
                                                                                        <% for (var j=0; j <
                                                                                           pfarticles[i].article_content.length;
                                                                                           j++ ) { %>
                                                                                            <% if(pfarticles[i].article_content[j].isColorPalette)
                                                                                               {%>
                                                                                                <%- include('color_palette',
                                                                                                    {colors:
                                                                                                    pfarticles[i].article_content[j].colors})
                                                                                                    %>
                                                                                                    <% } else { %>
                                                                                                        <li>
                                                                                                            <p>
                                                                                                                <%- pfarticles[i].article_content[j]
                                                                                                                    %>
                                                                                                            </p>
                                                                                                        </li>
                                                                                                        <% } %>
                                                                                                            <% } %>
                                                                                                                <% if(pfarticles[i].isNumberedList)
                                                                                                                   { %>
                                                                                                                    <ol>
                                                                                                                        <% }
                                                                                                                           else
                                                                                                                           {
                                                                                                                           %>
                                                                                                                            <ul>
                                                                                                                                <% }
                                                                                                                                   %>
                                                                </div>
                                                                <% } else if (pfarticles[i].article_content) { %>
                                                                    <div>
                                                                        <p>
                                                                            <%- pfarticles[i].article_content %>
                                                                        </p>
                                                                    </div>
                                                                    <% } %>
                                                                        <% if (pfarticles[i].hasLink) { %>
                                                                            <div class="article_link">
                                                                                <a
                                                                                   href="<%= pfarticles[i].article_link %>">
                                                                                    <%= pfarticles[i].article_link_text
                                                                                        %>
                                                                                </a>
                                                                            </div>
                                                                            <% } %>
                                </article>
                                <% if(pfarticles[i].hasMoreImages) { %>
                                    <%- include('gridview', {data: pfarticles[i].extraImages, isCard: false}); -%>
                                        <% } %>
    </section>
    <% } %>